<div class="page__inner-wrap">
    <header>
        <h2 id="page-title" class="page__title" itemprop="headline">About</h2>
    </header>
    <section class="page__content" itemprop="text">  
        <p>I am a researcher in biology with broad interests in ecological and evolutionary genomics. My research focuses on two main topics: structural variation (SV) and gene tree discordance (GTD). I combine experimental and computational approaches to investigate genome landscapes/architectures of SV and GTD in corals and primates, and to understand how those architectures drive the evolution of corals and primates.</p>
    </section>
    <header>
        <h2 id="page-title" class="page__title" itemprop="headline">Education</h2>
    </header>
    <section class="page__content" itemprop="text">  
        <p>
            Jun 2019 - present, Postdoctoral Fellow, University of Washington, USA <br>
            2019, Ph.D, Okinawa Institute of Science and Technology Graduate University, Japan <br>
            2014, B.Sc, Nanjing University, China
        </p>
    </section>
    <header>
        <h2 id="page-title" class="page__title" itemprop="headline">Training</h2>
    </header>
    <section class="page__content" itemprop="text">  
        <p>
            May 2018 - Oct 2018, Visiting Student, Princeton University, USA <br>
            Oct 2013 - Mar 2014, Visiting Student, Hong Kong University of Science and Technology, China
        </p>
    </section>
    <footer class="page__meta">
        <p class="page__date"><strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i> Updated:</strong> <time datetime="2021-06-12">June 12, 2021</time></p>
    </footer>
</div>